include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include psutil_cygwin *.py
recursive-include tests *.py
recursive-include docs *.rst *.py *.md
recursive-include docs Makefile
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude * *.rej
exclude .gitignore
exclude .pre-commit-config.yaml
prune .git
prune .github
prune docs/_build
